body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  margin: 1rem 0;
}

form button {
  border-radius: .5rem;
  font-size: 1rem;
  padding: .5rem;
}

.text-end {
  text-align: end;
}